body {
        background-color: #171717;
        height: 100vh;
        color: whitesmoke;
        padding: 1rem;
}

nav {
        padding: 1rem;
        line-height: 3rem;
}

nav button {
        margin: 1rem;
}

.greetingStyle {
        background-color: rgb(90, 81, 55);
        height: 75vh;
        text-align: center;
        font-size: 2.5rem;
        padding-top: 3rem;
        border-radius: 2rem;
}

.iconCart {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        font-size: 1.5rem;
        margin-top: 6.5rem;
}