body {
        background-color: #1d1d1d;
        height: 100vh;
        color: whitesmoke;
        padding: 1rem;
}

nav {
        padding: 1rem;
        text-align: center;
        line-height: 3rem;
}

nav button {
        margin: 1rem;
}

.greetingStyle {
        background-color: rgb(54, 75, 67);
        height: 60vh;
        text-align: center;
        font-size: 2.5rem;
        padding-top: 3rem;
        margin-top: 1rem;
        border-radius: 2rem;
}

.iconCart {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        font-size: 1.5rem;
}